body {
font-family: 'Poppins', sans-serif; 
 margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.container {
  max-width: 1200px;
  height: 600px; 
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* All infos here about The Left Part of the Screen */
.left-info{
  height: 600px;
  width: 320px;
  text-align: center;
  border-right: 2px solid gray;
 }
.temperature {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
}
.feels-like {
  font-size: 18px;
  margin-bottom: 10px;
}
.city-country {
  font-size: 35px;
  font-weight: bold;
  margin-top: -40px;
  margin-bottom: 20px;
}
.weather-icon {
  display: block;
  width: 280px;
  height: 280px;
}
/* Search Bar */
.search-bar {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: -70px;
  margin-left: 360px;
}
.search {
  padding: 8px;
  border: none;
  background-color: whitesmoke;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  width: 250px;
  font-size: 14px;
}
.search-btn {
  padding: 8px 20px;
  background-color:cornflowerblue;
  border: none;
  height: 45px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.right-info{
  background-color: aqua;
}
/* All infos here about The Right Part of the Screen */
.condition{
  font-size: 23px;
}
.local-time{
  font-size: 25px;
  font-weight: 900;
  margin-left: 360px;
}
.weather-info {
  display: flex;
  float: right;
  flex-direction: column;
  margin-right: 450px;
  margin-top: 30px;
  gap: 130px;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* All infos here about Wind Speed */
.wind-speed{
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 25px;
  height: 180px;
  width: 270px;
}
.speed-img{
  height: 100px;
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}
.speed-text{
 float: right;
 font-size: 20px;
 margin-right: 20px;
 margin-top: 20px;

}
.speed{
  margin-top: -30px;
  margin-right: 20px;
  float: right;
  font-size: 35px;
  font-weight:900;
}
.kmH{
  margin-right: -40px;
  float: right;
}
/* All infos here about Humidity */
.humidity{
  border: 1px solid black;
  border-radius: 25px;
  height: 180px;
  width: 270px;
  margin-top: -80px;
}
.humidity-img{
  height: 100px;
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}
.humidity-text{
 float: right;
 font-size: 20px;
 margin-right: 20px;
 margin-top: 20px;

}
.humidityP{
  margin-top: -30px;
  margin-right: 20px;
  float: right;
  font-size: 35px;
  font-weight:900;
}
.percent{
  margin-right: -40px;
  float: right;
}
/* All infos here about UV-INDEX */
.uv-index{
  position: absolute;
  border: 1px solid black;
  border-radius: 25px;
  height: 180px;
  width: 270px;
  margin-top: 50px;
  margin-left: 400px;
}
.uvIndex-img{
  height: 100px;
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}
.uvIndex-text{
 float: right;
 font-size: 20px;
 margin-right: 20px;
 margin-top: 20px;

}
.uvIndexP{
  position: absolute;
  margin-top: 45px;
  margin-left: 230px;
  float: right;
  font-size: 35px;
  font-weight:900;
}
/* All infos here about Visibility */
.visibility{
  position: absolute;
  border: 1px solid black;
  border-radius: 25px;
  height: 180px;
  width: 270px;
  margin-top: 280px;
  margin-left: 400px;
}
.vis-img{
  height: 100px;
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}
.vis-text{
 float: right;
 font-size: 20px;
 margin-right: 20px;
 margin-top: 20px;

}
.visP{
  margin-top: -30px;
  padding-right: 30px;
  float: right;
  font-size: 35px;
  font-weight:900;
}
.SeenKm{
  position: absolute;
  margin-left: 210px;
  margin-top: 85px;
}

/* Error Message */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: red;
  font-size: 35px;
}
